.gradienteAzul {
    background: linear-gradient(180deg, #182a74 40vh, #007dce);
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }