.gradienteAzul {
  background: linear-gradient(180deg, #182a74 40vh, #007dce);
  background-attachment: fixed;
  height: 95.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradienteModal {
  background: linear-gradient(180deg, #182a74 40vh, #007dce) !important;
}

.card {
  background-color: #FFFFFF;
  width: 85vw;
  height: 75vh;
  padding: 10px;
  border-radius: 12px;
  position: relative;
  overflow: scroll;
}

.title {
  text-align: center;
  font-size: 2em;
}

.buttonContainer {
  position: absolute;
  top: 10px;
  left: 40px;
}