.categorias {
  background: linear-gradient(180deg, #182a74 40vh, #007dce);
  background-attachment: fixed;
  overflow: hidden;
  min-height: 96vh;
  // padding: 10vh 5vh 1vh;
  padding: 4% 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.categorias > * {
  height: 40h;
  width: 75vh;
  border-radius: 12px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.75));
  transition: 1s !important;
}

.categorias > *:hover {
  cursor: pointer;
  transform: scale(1.02) !important;
}

.estarLado {
  background-color: #1E3871;
}

.ficarBem {
  background-color: #00A5E5;
}

.ficarSaudavel {
  background-color: #FAB800;
}

.economizar {
  background-color: #FEDC00;
}

.imgparavoce {
  height: 7em;
  margin: 0 auto;
  margin-top: 1%;
  filter: drop-shadow(0px 0.5px 1px rgba(0, 0, 0, 0.5));
}

@media (max-width: 768px) {

  .categorias {
    padding-top: 4.5em;
  }
  .categorias > *{
    display: flex;
    height: 10em;
    justify-content: space-around;
    transition: 0.8s;
  }

  .categorias > *:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .imgparavoce {
    height: 5em;
  }

}


@media (min-width: 1200px) {
  .container {
    background: linear-gradient(180deg, #182a74 40vh, #007dce);
    background-attachment: fixed;
    min-height: 110vh;
    overflow: hidden;
  }
}
