.BlueButton{
  background-color: #fff;
  color: #72baf4;
}

.BlueButton:hover{
  background-color: #72baf4 !important;
  color: #fff !important;
  border-color: #72baf4;
}

.rodape {
  background-color: #182a18;
}