.semBorda {
  border: none;
  border-style: none;
}

.semBorda:focus {
  box-shadow: none;
}

.navBar{
  background: linear-gradient(180deg, #000 1px, rgba(255, 255, 255, 0));
//  width: 80%;
  margin: 0 auto;
}

.navBar a {
  color: white;
}