.semBorda {
  border: none;
  border-style: none;
}

.semBorda:focus {
  box-shadow: none;
}

.navBar {
  background: linear-gradient(90deg, rgb(63, 163, 251) 6%, rgb(16, 102, 242) 53%, rgb(81, 155, 220) 65%, rgb(115, 188, 244) 79%, rgb(81, 169, 235) 100%);
}